.App {
  text-align: center;
}

.container{
  padding: 50px 30px;
}

ul{
  list-style: none;
}

.link{
  text-decoration: none;
  color: #000;
}

h3:hover{
  color:aqua !important;
  background-color: #000 !important;
  border-color: aqua !important;
}

.btn{
  margin: 25px;
}